<!doctype html>
<html lang="eng">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <!--  {#    <link rel="icon" type="image/png" href="favicon.ico"/>#}-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clear a MP3 File</title>
</head>
<body>
<div class="right">
    <section>
        <div id="loader" class="loader" style="display: none">
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            <span style="--i:4;"></span>
            <span style="--i:5;"></span>
            <span style="--i:6;"></span>
            <span style="--i:7;"></span>
            <span style="--i:8;"></span>
            <span style="--i:9;"></span>
            <span style="--i:10;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:13;"></span>
            <span style="--i:14;"></span>
            <span style="--i:15;"></span>
            <span style="--i:16;"></span>
            <span style="--i:17;"></span>
            <span style="--i:18;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
        </div>
    </section>

</div>

<div>
    <label class="learn-more button center">
        <i class="fa fa-cloud-upload"></i>
        <a href="{{ url_for('download', file_path=file_path) }}" style="-webkit-text-fill-color:black">Download File</a>
    </label>
</div>
</body>
</html>