<!doctype html>
<html lang="eng">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='error.css') }}">
    <!--  {#    <link rel="icon" type="image/png" href="favicon.ico"/>#}-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clear a MP3 File</title>
</head>
<body>
<link href='https://fonts.googleapis.com/css?family=Vibur:400' rel='stylesheet' type='text/css'>

<div class="container">
    <h1 class="neonText">
        {{ title }}
    </h1>

</div>

<div class="container">
    <h2 class="neonTextSmall">{{ error_description }}</h2>
 </div>
</body>
</html>