<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MP3 STEGO</title>
</head>
<body>

<button onclick="location.href='stego/mp3_to_wav'">Convert MP3 to WAV</button>
<button onclick="location.href='stego/wav_to_mp3'">Convert WAV to MP3</button>
<p></p>
<button onclick="location.href='stego/hide_msg'">Hide Message</button>
<button onclick="location.href='stego/reveal_msg'">Reveal Message from an MP3 file</button>
<button onclick="location.href='stego/clear_file'">Clear a MP3 File</button>

</body>
</html>